// USER VARIABLES SECTION
@accent: #DC911B;
@white: #ffffff;
@black: #1E2024;
@grey: #555555;
@grey_light: #9B9B9B;
@grey_light1: #F9F9F9;
@grey_light2: #F3F3F3;
@grey_light3: #ECECEC;


@fontsize: 18px; // Body Font Size
@lineheight: 1.7; // Document Line Height

@userfont: 'Open Sans', sans-serif;
@systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

.reset();

*,
*::before,
*::after {
    box-sizing: border-box;
}

// .debugGrid{
// 	.debug(rgba(0, 0, 0, 0.3), 1px #ff0 solid);
// }

.container {
    .wrapper();
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Bold.eot');
    src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibri-Bold.woff') format('woff'),
        url('../fonts/Calibri-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: @userfont;
    font-size: @fontsize;
    .md(font-size, 16px);
    .xs(font-size, 14px);
    line-height: @lineheight;
    font-weight: 400;
    color: @black;
    text-rendering: optimizeSpeed;
}

.bg-grey {
    background-color: @grey_light1;
}

.text-black {
    color: @black!important;
}

.text-grey {
    color: @grey!important;
}

.section-title {
    .title(55px);
    .title-under(100px, 6px, -15px, 5px);

    .md-block({
        .title(30px);
        .title-under(80px, 5px, -15px, 5px); 
    });

    .xs-block({
        .title(20px);
        .title-under(60px, 4px, -10px, 5px);
    })
}
