// USER VARIABLES SECTION
@accent: #DC911B;
@firm: #DC911B;
@white: #ffffff;
@black: #1E2024;
@grey: #555555;
@grey2: #F3F3F3;
@grey_light: #9B9B9B;
@grey_light1: #F9F9F9;
@grey_light2: #F3F3F3;
@grey_light3: #ECECEC;


@fontsize: 18px; // Body Font Size
@lineheight: 1.7; // Document Line Height

@userfont: 'Open Sans', sans-serif;
@systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

.reset();

*,
*::before,
*::after {
    box-sizing: border-box;
}

// .debugGrid{
// 	.debug(rgba(0, 0, 0, 0.3), 1px #ff0 solid);
// }

.container {
    .wrapper();
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Bold.eot');
    src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibri-Bold.woff') format('woff'),
        url('../fonts/Calibri-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html, body {
    overflow-x: hidden;
}

// .overflow {
//     position: relative;
//     overflow-y: hidden;

//     &::after {
//         position: absolute;
//         background-color: rgba(30, 32, 36, 0.5);
//         z-index: 13;
//     }
// }

body {
    font-family: @userfont;
    font-size: @fontsize;
    .md(font-size, 16px);
    .xs(font-size, 14px);
    line-height: @lineheight;
    font-weight: 400;
    color: @black;
    text-rendering: optimizeSpeed;
    position: relative;
}

// main {
//     padding-top: 100px;
// }

.bg-grey {
    background-color: @grey_light1;
}

.text-black {
    color: @black!important;
}

.text-grey {
    color: @grey!important;
}

.section-title {
    .title(55px);
    .title-under(100px, 6px, -15px, 5px);

    .md-block({
        .title(30px);
        .title-under(80px, 5px, -15px, 5px); 
    });

    .xs-block({
        .title(20px);
        .title-under(60px, 4px, -10px, 5px);
    })
}

.div-title {
    .title(30px);
    line-height: 130%;

    .md-block({
        .title(20px);
    });

    .xs-block({
        .title(16px);
    });
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
// Remove all mouse-triggered focus styles without breaking keyboard accessibility
*:focus:not(:focus-visible) { 
    outline: none !important; 
}

// fix safari
input[type='submit'] { 
	-webkit-appearance: none; 
	-moz-appearance: none; 
	appearance: none; 
}