.page {

    main {
        min-height: 100vh;
    }

    &__content {
        padding-top: 17px;
        padding-bottom: 120px;
    }

    h1 {
        .title(55px);
        .title-under(100px, 6px, -7px, 5px);
    }
}