.footer {
    .menus {
        padding: 50px 0;
        // display: flex;
        justify-content: space-between;
        // align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
    }

    .menus__wrapper {
        display: flex;
        justify-content: space-around;
        // align-items: flex-start;
        .md-block({
            flex-direction: column;
            justify-content: flex-start;
        });

        // .xs-block({
        //     margin-left: 0;
        //     margin-right: 0;
        // });

        .menu:first-child {
            margin-bottom: 47px;
            .xs(margin-bottom, 17px);
        }
    }

    .menu {
        // margin: 0 10px;

        .xs-block({
            margin: 0 0 17px;
        });

        &__title {
            .title(20px);
            .title-under(40px, 4px, -10px, 6px);
            margin-bottom: 18px;

            .md-block({
                .title(16px);
            });
        }

        &__list {
            a {
                display: inline-block;
                padding: 7px 0;
                padding-right: 14px;
                font-size: 16px;
                .link-active();

                &:hover {
                    background: url(../img/link-arrow.svg) no-repeat right center;
                }

                .md-block({
                    padding: 5px 0;
                    font-size: 14px;
                });
            }
        }

        &-1 {
            width: 25%;
            .md(width, 30%);
            .xs(width, 100%);
        }

        &-2 {
            width: 50%;
            .md(width, 30%);
            .xs(width, 100%);
        }

        &-3 {
            width: 25%;
            .md(width, 30%);
            .xs(width, 100%);

            a:hover {
                background: none;
            }
        }
    }
}