.header {
    position: relative;

    .menu {
        display: flex;


        // .current-menu-item {
        //     a {
        //         color: @accent;
        //     }
        // }
    }

    .menu > .menu-item > a{
        color: @black;
        text-decoration: none;
        padding: 30px 15px;
        display: block;
        font-size: 16px;
    }

    .sub-menu {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        z-index: 2;

        background-color: @white;
        padding: 30px 0;
        box-shadow: 0px 67px 266px rgba(4, 10, 30, 0.04), 0px 27.991px 111.128px rgba(4, 10, 30, 0.0287542), 0px 14.9653px 59.4146px rgba(4, 10, 30, 0.0238443), 0px 8.38944px 33.3073px rgba(4, 10, 30, 0.02), 0px 4.45557px 17.6893px rgba(4, 10, 30, 0.0161557), 0px 1.85406px 7.3609px rgba(4, 10, 30, 0.0112458);

        .md-block({
            position: static;
            padding: 0;
            box-shadow: none
        });

        a {
            display: block;
            text-decoration: none;
            color: @black;
        }
        
        li:not(:last-child) a {
            margin-right: 36px;
        }
    }

    .sub-menu.open {

        .md-block({
            // display: block;
            background-color: @grey2;
        });

        a {
            .md-block({
                padding: 7px 25px!important;
                border: none!important;
            })
            
        }
    }


    // hover header menu
    .menu-item-has-children {
        // position: relative;
        transition: all 0.3s ease;
        
        > a {
            background: url(../img/sub-menu.svg) no-repeat right center;

            .md-block({
                background: url(../img/sub-menu.svg) no-repeat 95% center;
            });
        }



        // &:hover>.sub-menu {
            
        // }


    }

    .menu-item-has-children.active {
        > a {
            color: @accent;
            background: url(../img/sub-menu-open.svg) no-repeat right center;

            .md-block({
                background: url(../img/sub-menu-open-w.svg) no-repeat 95% center;
                padding-left: 14px!important;
                border-top: none!important;
                color: @white;
                background-color: @accent;
            });
        }
    }

    .nav {
        &__title {
            display: none;
            margin-bottom: 20px;
            font-size: 30px;
            font-family: 'Calibri';
            font-weight: 700;
            text-transform: uppercase;
            color: @grey_light;
        }
        &__tel {
            margin-bottom: 20px;
            display: none;
            // text-align: center;
            font-family: 'Calibri';
            font-weight: 700;
            font-size: 55px;
            color: @accent;
            text-decoration: none;
            // margin-top: auto;
            .xs(font-size, 30px);
        }
    }

    // .menu__outer {
    //     .md-block({
    //         position        : absolute;
    //         right           : 0;
    //         top             : 0;
    //         z-index         : 10;
    //         width: 100%;
    //         height: 100vh;
    //         pointer-events: none;
    //     })
    // }
    
    // .menu__outer.bg {
    //     background-color: rgba(30, 32, 36, 0.5);
    // }

    .menu__wrapper {
        // position: relative;
        
        .md-block({
            width: 100%;
            transform       : translateX(150%);
            transform-origin: left top;
            transition      : all 0.5s ease-in-out;
            position        : absolute;
            right           : 0;
            top             : 0;
            z-index         : 12;
            height: 100vh;
            background-color: rgba(30, 32, 36, 0.5);
        });
        

        
    }
    
    .menu__wrapper.open {

        .md(transform, translateX(0));

        .nav {
            .md-block({
                padding: 10px 24px 30px;
                width: 90%;
                height: 100vh;
                max-width: 450px;
                position: absolute;
                right: 0;
                top: 0;
                background-color: @white;

                display: flex;
                flex-direction: column;
            });

            .xs-block({
                padding: 13px 16px 20px;
                max-width: 350px;
            });

            &__title, &__tel {
                .md(display, block);
            }
        }

        .menu {
            .md(flex-direction, column);

            &-item {
                // a {
                //     padding: 10px 0;
                //     font-size: 14px;
                //     border-top: 1px solid @grey_light;
                // }

                &:last-child {
                   a {
                        .md-block({
                            border-bottom: 1px solid @grey_light;
                        });
                   }
                }
            }

        }
	}

    .menu__wrapper.open .menu > .menu-item a {
        .md-block({
            padding: 10px 0;
            font-size: 14px;
            border-top: 1px solid @grey_light;
        });
    }

    &__burger {
        @toggler-part-height: 6px;
        @toggler-part-bg-color: @black;
        @transition-time: 0.5s;

        display: none;

        .md-block( {
                display : block;
                display : flex;
            });

        // position: relative;
        z-index : 13;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 30px;
        user-select: none;
        cursor : pointer;

        &:focus {
            outline: none;
        }

        &>span {
            display: inline-block;
            width: 100%;
            height: @toggler-part-height;
            background: @toggler-part-bg-color;
            position: relative;
            transition: background @transition-time @transition-time;

            &:before,
            &:after {
                content: '';
                position: absolute;
                left: 0;
                height: @toggler-part-height;
                background: @toggler-part-bg-color;
                transform-origin: 50% 50%;
                transition: top @transition-time @transition-time, transform @transition-time;
            }

            &:before {
                width: 100%;
                top: -12px;
            }

            &:after {
                width: 100%;
                top: 12px;
            }
        }

        &--close {
            position: relative;
            z-index: 15;

            >span {
                transition: background @transition-time;
                background: transparent;

                &:before,
                &:after {
                    width: 100%;
                    transition: top @transition-time, transform @transition-time @transition-time;
                    top: 0;
                    background-color: @black;
                }

                &:before {
                    transform: rotate3d(0, 0, 1, 45deg);
                }

                &:after {
                    transform: rotate3d(0, 0, 1, -45deg);
                }
            }
        }
    }

}

// mobile fix bottom beard
// @media (hover: none) and (pointer: coarse) {
//     .nav__tel {
//         margin-bottom: 10vh;
//     }
// }

//computer
@media (hover: hover) and (pointer: fine) {
    .header .menu-item a {
        .link-menu-active();
    }
}

@media (min-width: 900px) {
    .header .sub-menu.open {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}